<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="8.0.0" targetFramework="net462" />
  <package id="Consul" version="0.7.2.6" targetFramework="net462" />
  <package id="JRPC.Core" version="3.2.82-CancelTask" targetFramework="net462" />
  <package id="JRPC.Registry.Ninject" version="3.2.82-CancelTask" targetFramework="net462" />
  <package id="JRPC.Service" version="3.2.82-CancelTask" targetFramework="net462" />
  <package id="JRPC.Service.Host.Owin" version="3.2.82-CancelTask" targetFramework="net462" />
  <package id="linq2db" version="2.6.4" targetFramework="net462" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Host.HttpListener" version="4.0.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Hosting" version="4.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="Ninject" version="4.0.0-beta-0134" targetFramework="net462" />
  <package id="NLog" version="4.5.3" targetFramework="net462" />
  <package id="Owin" version="1.0" targetFramework="net462" />
  <package id="prometheus-net" version="1.3.5" targetFramework="net462" />
  <package id="PrometheusNet.Owin" version="0.0.11" targetFramework="net462" />
  <package id="protobuf-net" version="2.2.1" targetFramework="net462" />
  <package id="System.Configuration.ConfigurationManager" version="4.4.1" targetFramework="net462" />
  <package id="System.Reactive" version="4.0.0-preview.3.build.380" targetFramework="net462" />
  <package id="System.Reactive.Interfaces" version="4.0.0-preview.2.build.380" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="Topshelf" version="4.2.0" targetFramework="net462" />
  <package id="Topshelf.Ninject" version="0.4.0.0" targetFramework="net462" />
</packages>